/*
================================
         Hamburger Button
================================
*/
@import 'hamburger-button.css';
/*
================================
         General Setup
================================
*/
body>h1 {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amatica SC", cursive;
  font-weight: 400;
  text-align: center;
  /*border: 1px solid green;*/
}
#main-container {
  margin: 0 auto;
}
section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 45px 30px;
  color: #eee;
}
/*
=================================
           Navigation
=================================
*/
nav {
  position: fixed;
  top:0;
  width: 100%;
  height: 55px;
  padding: 9px 0;
  z-index: 9;
}
nav ul {
  list-style: none;
  padding: 50px 0px;
  color: black;
  background-color: gray;
}
nav a {
  display:inline-block;
  width:100%;
  text-decoration: none;
  color:white;
  font-size: 3em;
}

.btnsbar {
  position:relative;
  left: 100%;
  top: -9px;
  z-index: 10;
  transition: .5s;
  
}
nav ul li:hover {
  background-color: #aaa;
}
/*
=================================
           Header
=================================
*/
header {
  position: relative;
  top:-40px;
  margin: 0px auto;
  padding: 0px 20px;
  width:100%;
  height:80vh;
  /*background-color: #eee;*/
  display:flex;
  flex-wrap: wrap;
}

hgroup {
  /*border:1px solid #aac;*/
  position: relative;
  top: -20px;
  text-align: center;
  margin:auto;
}
h1 {
  display:block;
  font-size: 2.3em;
  color: #656565;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
header h1 {
  position:relative;
  background-color: rgba(255,255,255,0.8);
  text-shadow: -3px -3px 15px #fff;
  visibility:hidden;
  /*margin-bottom:0.1em;*/
}
header h1 a {
  text-decoration: none;
  color: #656565;
  font-family: "Montserrat", sans-serif;
}
.name {
  margin: .5em;
  /*margin-bottom: .8em;*/
  display: inline-block;
  width:initial;
  letter-spacing: 2px;
  font-size: 1.8em;
  padding: 6px 15px 7px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  text-decoration: none;
}

.developer, .programmer, .name {
  visibility: hidden;
}
#mainImage {
  position: relative;
  top: 5px;
  width: 100%;
  height: auto;
  visibility: hidden;
  /*border: 1px solid pink;*/
}
/*
   =============================
            Quotation
   =============================
*/
aside {
}
aside>h1 {
  display: none;
}
blockquote {
  position: relative;
  width: 100%;
  margin: 0px auto;
  padding: 45px 30px;
  color: #eee;
  background-color: gray;
  font-size: 2.4em;
  font-weight: 600;
  letter-spacing:normal;
  font-family:"Montserrat", sans-serif;
  font-style:oblique;
  z-index: 3;
}
blockquote p:before {
  content: open-quote;
}
blockquote p:after {
  content: close-quote;
}
cite {
  /*color: #eee;*/
  font-size: 0.6em;
}
.author {
  font-family:"Montserrat", sans-serif;
  color: #ddd;
}
blockquote a {
  /*font-size: 90%;*/
  text-decoration: none;
  color: #ddd;
  font-family:"Montserrat", sans-serif;
}
/*
   =============================
            Projects
   =============================
*/
.projects h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 2.5em;
  margin-top: 0px;
  margin-bottom: 45px;
}
.project-container {
  width:100%;
  max-width: 290px;
  background: #fff;
  border:3px solid #ccc;
  margin:0 auto;
  margin-bottom:50px;
}
.projects h2 {
  /*display: block;*/
  max-width: 250px;
  margin:0 auto 15px;
  font-size: 2.4em;
  letter-spacing: 1px;
  color: #333;
  background-color: #fff;
}
.projects img {
  width:100%;
  max-width:250px;
}
.projects a {
  display:block;
  margin-top: 25px;
  width:7em;
  margin:15px auto;
  /*border:1px solid gray;*/
}
.projects button {
  width: 5em;
  height: 3em;
  /*background:#789AB4 linear-gradient(hsla(0, 0%, 100%, .6), transparent);*/
  background:#777777 linear-gradient(hsla(0, 0%, 100%, .6), transparent);
  color: white;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  padding: 2px 6px;
  cursor:pointer;

  /*border:1px solid red;*/
}



/*
   ==============================
              Skills
   ==============================
*/
.skills {
  background-color: rgba(162, 182, 209, 0.5);
  padding-bottom: 100px;
  font-family: "Montserrat", sans-serif;
}
.skills h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 2.4em;
  margin-top: 25px;
  margin-bottom: 15px;
}

.dev-icons {
  font-family: "devicons";
}
.skills h2 {
  margin-top: 18px;
  display: inline-block;
  font-size: 3em;
  letter-spacing: 1px;
  color: #fff;
  background-color: #444;
  box-shadow:-1px 1px 15px #777;
  padding: 5px 20px 10px;
  position: relative;
  font-size: 150%;
}
.skills h2 {
  
}
.skills h2 span{
  font-size: 4em;
  position: relative;
  top: 5px;
  margin-bottom: 5px;
}
/*
   ==============================
              Contact
   ==============================
*/

.contact {
  background: rgba(240,240,240,.4); 
  padding-bottom: 80px;
}
.contact h1 {
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 2.4em;
}
.contact .container {
  position: relative;
  min-width: 20em;
  text-align: left;
  margin-top: 30px;
  padding: 10px 5px;
  padding-left: 0;
}
.contact h2 {
  display: inline-block;
  width: 4.5em;
  color: #333;
  background: rgba(230,230,230,.1);
  box-shadow: 0px 0px 0px #777;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin:0;
  padding-right: 0;
  text-align: right;
}
.contact .container {
  margin-bottom: 50px;
}
.contact h3 {
  display: inline-block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 1.4em;
  font-weight: normal;
  left: 17px;
  color: #333;
  padding: 3px 5px;
}
fieldset {
  padding: 15px;
}
input {
  position: relative;
  margin-left: 1px;
  margin-right: 0;
  max-width: 30em;
  font-size: 0.7em;
  text-align: left;
}
#myForm label, legend, input, textarea, button {
  color: #333;
  font-size: 1.4em;
  font-family:"Montserrat", sans-serif;
  margin-bottom: 10px;
}
legend {
  text-align: center;
}
input, textarea {
  box-sizing: border-box;
}
textarea {
  vertical-align: top;
  height: 7em;
  max-width: 40em;
  text-align: left;
  resize: vertical
}
#myForm button {
  position: relative;
  margin-top: 25px;
  width: 5em;
  height: 3em;
  background:#D68089 linear-gradient(hsla(0, 0%, 100%, .6), transparent);
  /*box-shadow: 0 .05em .25em rgba(0,0,0,.5);*/
  color: white;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
}
/*
   ==============================
               Footer
   ==============================
*/
footer {
  position: relative;
  /*bottom: -5px;*/
  width:100%;
  height: 80px;
  background: rgba(93,88,85,.9);
  padding: 8px 20px;
  font-size: 1.8em;
  color: white;
}

@media (min-width: 1000px) {
  hgroup {
    left:10%;
  }
  .image-container {
    display: none;
  }
  .pic {
    position:relative;
    top:0px;
    left:25%;
    top:30%;
    border-radius: 50%;
    width:185px;
    height:185px;
    float:left;
    margin-left:0px;
    margin-right:0px;
    background-image: url(images/mk8.jpg);
    background-position: center center;
    background-size: 110%;
    box-shadow: 2px 5px 8px 1px #999;
    z-index: 3;
  }
  blockquote p, cite {
    width: 50%;
    margin:0 auto;
  }
}