/*
================================
         Hamburger Button
================================
*/
@import 'hamburger-button.css';
/*
================================
         General Setup
================================
*/
body>h1 {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amatica SC", cursive;
  text-align: center;
  /*border: 1px solid green;*/
}
#main-container {
  max-width: 1000px;
  margin: 0 auto;
}
section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 45px 30px;
  /*padding-bottom: 60px;*/
  color: #eee;
}
/*
=================================
           Navigation
=================================
*/
nav {
  position: fixed;
  top:0;
  width: 100%;
  max-width: 1000px;
  height: 55px;
  padding: 9px;
  /*background: rgba(93,88,85,0); */
  /*background: rgba(255,255,255,.4);*/
  z-index: 9;
}
nav ul {
  text-decoration: none;
  list-style: none;
  /*visibility: hidden;*/
  display: none;
  color: black;
}
nav a {
  color:white;
  font-size: 1.5em;
  color: black;
}
/*
=================================
           Header
=================================
*/
header {
  position: relative;
  top:-40px;
  margin: 0px auto;
  padding: 25px 30px;
  /*padding-top: 60px;
  padding-bottom: 120px;*/
  width:100%;
  /*height:100vh;*/
  /*background: rgba(230,230,230,.4); */
  /*border: 1px solid black;*/
}
h1 {
  font-size: 2.7em;
  color: #444;
}
/*header h1:first-child {
  display:  none;
}*/
.name {
  margin-top: 1em;
  display: inline-block;
  font-size: 2.7em;
  letter-spacing: 1px;
  /*color: #fff;*/
  /*background-color: rgba(237,237,237,.8);*/
  background-color: #fff;
  padding: 5px 15px 10px;
  border-top: 2px solid #777;
  border-bottom: 5px solid #777;
}
h2 {
  margin-top: 18px;
  display: inline-block;
  font-size: 3em;
  letter-spacing: 1px;
  color: #fff;
  background-color: #444;
  box-shadow:-1px 1px 15px #777;
  padding: 5px 20px 10px;
}
img {
  position: relative;
  top: 5px;
  width: 100%;
  /*border: 1px solid pink;*/
}
/*
   =============================
            Quotation
   =============================
*/
aside>h1 {
  display: none;
}
blockquote {
  position: relative;
  width: 100%;
  margin: 0px auto;
  padding: 45px 30px;
  color: #eee;
  background-color: gray;
  font-size: 2.4em;
  letter-spacing:normal;
  font-family:"Montserrat", sans-serif;
  font-style:oblique;
  z-index: 3;
}
blockquote p:before {
  content: open-quote;
}
blockquote p:after {
  content: close-quote;
}
cite {
  color: #eee;
  font-size: 0.6em;
}
.author {
  font-family:"Montserrat", sans-serif;
}
blockquote a {
  /*font-size: 90%;*/
  text-decoration: none;
  color: #ddd;
  font-family:"Montserrat", sans-serif;
}
/*
   ==============================
              Skills
   ==============================
*/
.skills {
  background-color: rgba(162, 182, 209, 0.5);
  padding-bottom: 100px;
}
.skill-title {
  font-family:"Montserrat", sans-serif;
  font-size: 10px;
}
.skills h1 {
  margin-top: 25px;
  margin-bottom: 15px;
}

.dev-icons {
  font-family: "devicons";
}
.skills h2 {
  position: relative;
  font-size: 150%;

  /*font-family:"Montserrat", sans-serif;*/
  /*color: pink;*/
}
.skills h2 span{
  font-size: 4em;
  position: relative;
  top: 5px;
  /*color:white;
  text-shadow: 0 -.04em .04em rgba(0,0,0,.5);*/
}
/*
   ==============================
              Contact
   ==============================
*/
.contact {
  /*background: rgba(93,88,85,.5); */
  background: rgba(240,240,240,.4); 
  padding-bottom: 80px;
}
.contact h1 {
  margin-bottom: 35px;
}
.contact .container {
  position: relative;
  width: 25em;
  text-align: left;
  /*margin: 0 auto;*/
  margin-top: 30px;
  padding: 10px 5px;
  padding-left: 0;
  /*border:1px solid green;*/
}
.contact h2 {
  display: inline-block;
  width: 4.5em;
  color: #333;
  /*background-color: initial;*/
  background: rgba(230,230,230,.1);
  /*background-color: ;*/
  /*box-shadow: initial;*/
  box-shadow: 0px 0px 0px #777;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin:0;
  padding-right: 0;
  text-align: right;
}
.contact .container {
  margin-bottom: 50px;
}
.contact h3 {
  display: inline-block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 1.4em;
  font-weight: normal;
  left: 17px;
  /*background: rgba(3,3,3,.7); */
  color: #333;
  padding: 3px 5px;
  /*border: 1px solid rgba(3,3,3,.7);*/
}
fieldset {
  padding: 15px;
}
/*label {
  position: relative;
  display: inline-block;
  width: 80px;
  text-align: left;
}*/
input {
  position: relative;
  /*left: -30px;*/
  margin-left: 1px;
  margin-right: 0;
  max-width: 30em;
  font-size: 0.7em;
  text-align: left;
}
#myForm label, legend, input, textarea, button {
  color: #333;
  font-size: 1.4em;
  font-family:"Montserrat", sans-serif;

  margin-bottom: 10px;
}
legend {
  text-align: center;
}
input, textarea {
  box-sizing: border-box;
  /*background-color: white;*/
}
textarea {
  vertical-align: top;
  height: 7em;
  max-width: 40em;
  text-align: left;
  resize: vertical
}
#myForm button {
  position: relative;
  margin-top: 25px;
  width: 5em;
  height: 3em;
  /*#FF324A 
  #ADC7DA*/
  background:#D68089 linear-gradient(hsla(0, 0%, 100%, .6), transparent);
  /*border: 1px solid rgba(0,0,0,.1);*/
  /*border-radius: 6px;*/
  /*box-shadow: 0 .05em .25em rgba(0,0,0,.5);*/
  color: white;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  /*background-color: #FF324A;*/
}
/*
   ==============================
               Footer
   ==============================
*/
footer {
  position: relative;
  /*bottom: -5px;*/
  width:100%;
  height: 80px;
  background: rgba(93,88,85,.9);
  padding: 8px 20px;
  font-size: 1.8em;
  color: white;
}

/*@media (min-width: 1000px) {
  header {
    width: 50%;
    float: right;
  }
  .image-container {
    width: 50%;
    float: right;
  }   
}*/