/*
================================
         Hamburger Button
================================
*/
@import 'hamburger-button.css';
/*
================================
         General Setup
================================
*/
body>h1 {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amatica SC", cursive;
  font-weight: 400;
  text-align: center;
  /*border: 1px solid green;*/
}
#main-container {
  max-width: 1000px;
  margin: 0 auto;
}
section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 45px 30px;
  color: #eee;
}
/*
=================================
           Navigation
=================================
*/
nav {
  position: fixed;
  top:0;
  width: 100%;
  max-width: 1000px;
  height: 55px;
  padding: 9px 0;
  z-index: 9;
}
nav ul {
  list-style: none;
  padding: 50px 0px;
  color: black;
  background-color: gray;
}
nav a {
  display:inline-block;
  width:100%;
  text-decoration: none;
  color:white;
  font-size: 3em;
}

.btnsbar {
  position:relative;
  left: 120%;
  top: -9px;
  z-index: 10;
  transition: .5s;
}
nav ul li:hover {
  background-color: #aaa;
}
/*
=================================
           Header
=================================
*/
header {
  position: relative;
  top:-40px;
  margin: 0px auto;
  padding: 25px 30px;
  width:100%;
  height:70vh;
}
h1 {
  font-size: 2.7em;
  color: #656565;
}
header h1 a {
  width:100%;
  text-decoration: none;
  color: #656565;
  font-weight: 600;
}
.name {
  margin-top: 1em;
  display: inline-block;
  font-size: 2.7em;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 15px 10px;
  border-top: 1px solid #777;
  border-bottom: 3px solid #777;
  text-decoration: none;
}
h2 {
  margin-top: 18px;
  display: inline-block;
  font-size: 3em;
  letter-spacing: 1px;
  color: #fff;
  background-color: #444;
  box-shadow:-1px 1px 15px #777;
  padding: 5px 20px 10px;
}
.developer, .programmer, .name {
  visibility: hidden;
}
img {
  position: relative;
  top: 5px;
  width: 100%;
  visibility: hidden;
  /*border: 1px solid pink;*/
}
/*
   =============================
            Quotation
   =============================
*/
aside>h1 {
  display: none;
}
blockquote {
  position: relative;
  width: 100%;
  margin: 0px auto;
  padding: 45px 30px;
  color: #eee;
  background-color: gray;
  font-size: 2.4em;
  font-weight: 600;
  letter-spacing:normal;
  font-family:"Montserrat", sans-serif;
  font-style:oblique;
  z-index: 3;
}
blockquote p:before {
  content: open-quote;
}
blockquote p:after {
  content: close-quote;
}
cite {
  /*color: #eee;*/
  font-size: 0.6em;
}
.author {
  font-family:"Montserrat", sans-serif;
  color: #ddd;
}
blockquote a {
  /*font-size: 90%;*/
  text-decoration: none;
  color: #ddd;
  font-family:"Montserrat", sans-serif;
}
/*
   ==============================
              Skills
   ==============================
*/
.skills {
  background-color: rgba(162, 182, 209, 0.5);
  padding-bottom: 100px;
  font-family: "Montserrat", sans-serif;
}
.skills h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 2.4em;
  margin-top: 25px;
  margin-bottom: 15px;
}

.dev-icons {
  font-family: "devicons";
}
.skills h2 {
  position: relative;
  font-size: 150%;
}
.skills h2 span{
  font-size: 4em;
  position: relative;
  top: 5px;
  margin-bottom: 5px;
}
/*
   ==============================
              Contact
   ==============================
*/

.contact {
  background: rgba(240,240,240,.4); 
  padding-bottom: 80px;
}
.contact h1 {
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 2.4em;
}
.contact .container {
  position: relative;
  width: 25em;
  text-align: left;
  margin-top: 30px;
  padding: 10px 5px;
  padding-left: 0;
}
.contact h2 {
  display: inline-block;
  width: 4.5em;
  color: #333;
  background: rgba(230,230,230,.1);
  box-shadow: 0px 0px 0px #777;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  margin:0;
  padding-right: 0;
  text-align: right;
}
.contact .container {
  margin-bottom: 50px;
}
.contact h3 {
  display: inline-block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 1.4em;
  font-weight: normal;
  left: 17px;
  color: #333;
  padding: 3px 5px;
}
fieldset {
  padding: 15px;
}
input {
  position: relative;
  /*left: -30px;*/
  margin-left: 1px;
  margin-right: 0;
  max-width: 30em;
  font-size: 0.7em;
  text-align: left;
}
#myForm label, legend, input, textarea, button {
  color: #333;
  font-size: 1.4em;
  font-family:"Montserrat", sans-serif;
  margin-bottom: 10px;
}
legend {
  text-align: center;
}
input, textarea {
  box-sizing: border-box;
}
textarea {
  vertical-align: top;
  height: 7em;
  max-width: 40em;
  text-align: left;
  resize: vertical
}
#myForm button {
  position: relative;
  margin-top: 25px;
  width: 5em;
  height: 3em;
  background:#D68089 linear-gradient(hsla(0, 0%, 100%, .6), transparent);
  /*box-shadow: 0 .05em .25em rgba(0,0,0,.5);*/
  color: white;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
}
/*
   ==============================
               Footer
   ==============================
*/
footer {
  position: relative;
  /*bottom: -5px;*/
  width:100%;
  height: 80px;
  background: rgba(93,88,85,.9);
  padding: 8px 20px;
  font-size: 1.8em;
  color: white;
}

/*@media (min-width: 1000px) {
  header {
    width: 50%;
    float: right;
  }
  .image-container {
    width: 50%;
    float: right;
  }   
}*/