body {
	background-color: lightgray;
}
#wrapper {
	display:block;
	position:relative;
	/*border:1px solid gray;*/
	border-radius: 5px;
	/*padding-left:20px;
	padding-right:20px;*/
	margin:75px auto;
	
}
#butts {
	display: block;
	position: relative;
	border-color: gray;
	/*border:1px solid gray;*/
	margin:5px auto;
	text-align:center;
}
h1 {
    color: gray;
    text-align: center;
    font-size:2.7em;
    margin-bottom:10px;
    margin-top:10px;
}
h2 {
	color:gray;
	text-align: center;
	font-size:1em;
}
canvas {
	display:block;
	position:relative;
	top:-25px;
	border-color: gray;
	border:1px solid gray;
	margin: 0px auto;
}
button {
	display:inline-block;
	margin: 0px auto;
}